.pag-login{
    background: #ecf0f1;
    text-align: center;
    padding: 50px 0;
}

.box-login{
    display: inline-block;
    background: #fff;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 4em;
    border-radius: 20px;
    width: 400px;
}

/*Botão*/
button.btn-green {
    background: #008000;
    border: none;
    color: #fff;
    padding: 1em 2em;
    border-radius: 3px;
}
/*Fim Botão*/
.box-login h2{
    font-size: 2em;
    margin: 0px 0px 20px;
}
.form-input{
    padding: 10px;
}
.form-input label{
    font-size: 0.9em;
}
.form-input input{
    padding: 0.5em;
    border: 1px solid #BBB;
    border-radius: 3px;
}