/* Rodapé */
footer{
    bottom: 0;
    position: absolute;
}
/* Fim Rodapé */
/* Div Logi*/
.pag-login{
    background: #ecf0f1;
    text-align: center;
    padding: 50px 0;
}

.box-login{
    display: inline-block;
    background: #fff;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 4em;
    border-radius: 20px;
    width: 400px;
}

/*Botão*/
button.btn-green {
    background: #008000;
    border: none;
    color: #fff;
    padding: 0.85em 1.5em;
    border-radius: 3px;
    margin-top: 1em;
}
/*Fim Botão*/
.box-login h2{
    font-size: 2em;
    margin: 0px 0px 20px;
}
/* Inputs */
.form-input{
    padding: 10px 0;
}
.form-input label{
    font-size: 1em;
    font-weight: 600;
}
.form-input input{
    padding: 0.5em;
    width: 230px;
    border: 1px solid #BBB;
    border-radius: 3px;
}
/* Cadastro */
.container-cadastro {
    padding: 5em;
}
.box-cadastro {
    text-align: left;
    float: left;
}
.box-cadastro h1{
    margin-bottom: 1.5em;
}
.container-img { 
    float: right;
}
.cadastro-input{
    margin: 2em 0;
}
.cadastro-input label{
    display: block;
}
.cadastro-input input{
    width: 500px;
    padding: 15px;
}
/* Fim Cadastro */