@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Menu*/
header {
    background: #232323;
    width: 100%;
    height: 80px;
    border-bottom: 5px solid #fb430f;
}
header b{
    color: #fb430f;
}
nav span {
    font-size: 1.5em;
    color: #fff;
    font-weight: 800;
}
.title{
    font-size: 1.5em;
    color: #fb430f;
}
nav{
    padding-top: 10px;
    margin: 0 100px;
}
ul {
    float: right;
}
ul li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    color:#FFF;
}
.ativado{
    color: #fb430f;
}
/*Fim-Menu*/
/*Newsletter*/
.content-atualizacoes{
    height: 100px;
    background: #232323;
}
.container-atualizacoes{
    margin: 0 100px;
    padding-top: 30px;
}
.container-input{
    float: right;
}
.content-atualizacoes h1 {
    color: #fff;
    margin: 0;
    float: left;
}
.content-atualizacoes input{
    font-size: 1em;
    padding: 10px;
    border: none;
    outline: none;
}
.content-atualizacoes .btn{
    font-size: 1em;
    background: #fb430f;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
/*Fim-Newsletter*/
/*Hero*/
.aprsentacao{
    background-image: url('../imgs/team.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    text-align: center;
}
.container-apresentacao{
    padding: 19em;
}
.aprsentacao h1{
    font-size: 4em;
    margin: 0;
    color: #fb430f;
}
.aprsentacao p {
    color: #fff;
    white-space: pre-line;
    font-size: 1.25em;
}
/*Fim-Hero*/
/*Missão Visão Valores*/
.container-items{
    text-align: center;
    padding: 5em 2em;
}
.item{
    margin-right: 4em;
    display: inline-block;
}
.item-img img{
    width: 10em;
}
.item-desc span{
    font-weight: 800;
    font-size: 1.5em;
}
.item-desc p{
    font-size: 1.1em;
    white-space: pre-line;
}
/*Fim-MVV*/
/*Footer*/
footer{
    background: #fb430f;
    color: #fff;
    height: 7em;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.container-footer{
    padding: 2em;
    text-align: center;
    font-size: 1.2em;
}
/*Fim-Footer*/