@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    background: #232323;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid #fb430f;
}
header b{
    color: #fb430f;
}
header span {
    font-size: 1.4em;
    color: #fff;
    font-weight: 800;
}
nav{
    padding-top: 10px;
    margin: 0 100px;
}
ul {
    float: right;
}
ul li {
    color: white;
    display: inline;
    margin-left: 10px;
    font-size: 15px;
}
.title{
    color: #fb430f;
}
.ativado{
    color: #fb430f;
}

.content-atualizacoes{
    height: 100px;
    background: #232323;
}
.container-atualizacoes{
    margin: 0 100px;
    padding-top: 30px;
}
.container-input{
    float: right;
}
.content-atualizacoes h1 {
    color: #fff;
    margin: 0;
    float: left;
}
.content-atualizacoes input{
    padding: 10px;
    border: none;
    outline: none;
}
.content-atualizacoes .btn{
    background: #fb430f;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
}